[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.4"
flask-script = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
pyjwt = "*"
flask-restful = "*"
flask-testing = "*"
gunicorn = "*"
flask-apispec = "*"

[dev-packages]

[requires]
python_version = "3.9"
